*{
    box-sizing: border-box;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: 100px 200px 300px;
    gap: 10px;
}

/* 
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 40px 50px;
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr 40px);
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3,minmax(50px,1fr));
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,1fr));
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
    gap: 10px;
}
.container{
    background-color: aliceblue;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(2,50px 100px)/repeat(auto-fit,minmax(50px,1fr));
    gap: 10px;
}
*/

.item{
    background-color: indigo;
    font-size: 2rem;
    color: white;
}